.vs
out
fengine_editor.exe
fengine_editor.exe.manifest
fengine_editor.ilk
fengine_editor.pdb
imgui.ini
*exe.patch_*
*pdb.patch_*
enc_temp_folder
content/_default/texture/blender_icons.png
submodules/LivePP
*.dmp
*.callstack.txt
lib/debug
lib/release
bin
cmake-build-debug
.idea
cmake-build-release
content/kenney
*.ilk
*.manifest
*.exe
build
*.spv
